body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  border: 1px solid grey;
  margin: 100px auto 0;
  max-width: 1200px;
  min-height: 800px;
  margin-top: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.logo {
  height: 50px;
}

.gene-input {
  border: 1px solid #d6d2d2;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 20px;
}

.gene-form {
  width: 500px;
  margin: 10px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gene-button {
  border: 1px solid grey;
  width: 50%;
  height: 40px;
  border-radius: 4px;
  padding: 10px;
  background-color: #0bd3ac;
}

.meme-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.meme-container img {
  height: 90%;
}

.meme-container h2 {
  text-transform: uppercase;
  text-align: center;

  position: absolute;
  color: white;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000,
    2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.meme-container .top-text {
  top: 490px;
}

.meme-container .bottom-text {
  top: 750px;
}
